* text=auto eol=lf
*.c text eol=lf
*.h text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.cmake text eol=lf
*.tsv text eol=lf
*.pcap binary
third_party/unity/* whitespace=-blank-at-eol
